@import "../bootstrap-5.0.2/scss/bootstrap";
@import "../icons-1.8.0/font/bootstrap-icons.css";

@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
}

.condition {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
}
.condition > div {
  margin: 0.5rem;
}
